body {
    background-color: black;
}

.main-content-wrap-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80vw;
    height: 100vh;
    gap: 5rem;
    height: max-content;
    overflow: hidden;
}

@media (max-width : 800px) {
    .main-content-wrap-container {
        width: 95vw !important;
    }
}